.navbar-nav{
    height: 80px;
    padding-top: 17px;
    padding-left: 50px;
    padding-right: 20px;
}

.section1{
    background: aqua;
    text-align: center;
}

.div img {
    width: 100%;
    height: auto;
}

#right {
    position:absolute;
    right:0px;
}